.jumbotron
  .container
    .row
      .col-md-10
        %h1= term.term
        %p= term.subtitle
      .col-md-2
        %a.wikipedia.btn.btn-info{href: term.wikipedia_url, rel: 'external'} Wikipedia
        - term.links.each do |link|
          %a{class: 'btn btn-info', href: link.url, rel: 'external'}
            = link.title
            %span= link.description unless link.description.nil?
.content.container
  .row
    .col-md-9
      = term.body
    .col-md-3
      %ul.side-term-list
        - Glossary.terms.each do |t|
          - selected = (t[0] == term.term)
          %li
            %a{href: "/glossary/terms/#{t[0]}", class: (selected)? 'selected' : ''}= t[0]
