.jumbotron
  .container
    %h1= term.term
    %p= term.subtitle
.content.container
  .col-md-9
    = term.body
  .col-md-3
    %p.related
      %a.btn.btn-info{href: term.wikipedia_url}= term.wikipedia_label
    %ul.nav.nav-pills.nav-stacked
      - Glossary.terms.each do |t|
        %li
          %a{href: "/glossary/terms/#{t[0]}"}= t[0]
